<form class="form" id="register-form">
  <h1>Реєстрація</h1>
  <div>
    <input type="email" id="registerEmail" required />
    <label for="email">Email</label>
  </div>
  <div>
    <input type="password" id="registerPassword" required />
    <label for="password">Пароль</label>
  </div>
  <button type="submit" id="signUp" class="mui-btn mui-btn--raised mui-btn--primary">
    Зареєструватись
  </button>
</form>
<form class="form" id="auth-form">
  <h1>Логін</h1>
  <div>
    <input type="email" id="logInEmail" required />
    <label for="email">Email</label>
  </div>
  <div>
    <input type="password" id="logInPassword" required />
    <label for="password">Пароль</label>
  </div>
  <button type="submit" id="signIn" class="mui-btn mui-btn--raised mui-btn--primary">Увійти</button>
</form>
<form class="signOutform">
  <h1>Вийти з кабінету</h1>
  <button type="button" id="signOut" class="mui-btn mui-btn--raised mui-btn--primary">Вийти</button>
</form>
