<div class="container-form">
  <form class="form" id="anonymos-form">
    <div>
      <input type="name" id="name" placeholder="Введіть ім'я" required />
      <label for="name"></label>
    </div>
    <button type="submit" id="signInAnonymos" class="mui-btn mui-btn--raised mui-btn--primary">
      Увійти
    </button>
  </form>

  <form class="signOutform" id="signOuts-form">
    <button type="button" id="signOut" class="mui-btn mui-btn--raised mui-btn--primary">
      Вийти
    </button>
  </form>
</div>
