<div class="container-form">
  <form class="form" id="anonymos-form">
    <div>
      <input type="name" id="name" placeholder="Введіть ім'я" required />
      <label for="name"></label>
    </div>
    <button type="submit" id="signInAnonymos" class="mui-btn mui-btn--raised mui-btn--primary">
      Увійти
    </button>
  </form>
</div>
<header class="header" id="header">
  <h1 class="game-name">МАФІЯ</h1>
  <form class="rule" id="rule-form">
    <button type="button" id="rule" class="mui-btn mui-btn--raised mui-btn--primary">
      Правила
    </button>
  </form>
  <form class="signOutform" id="signOuts-form">
    <button type="button" id="signOut" class="mui-btn mui-btn--raised mui-btn--primary">
      Вийти
    </button>
  </form>
</header>

<ul class="userList"></ul>
